{% extends 'base.html' %} {% load bootstrap3 %} {% load static %} {% block scripts %}

<div class="row">
  <h3>Categories</h3>
  <p>We have a variety of studios rated according to their functionality i.e say rehersal studios, project studios etc.</p>
</div>

<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> {{block.super}} {%endblock%} {%block content%}
<header class="text-center text-white d-flex" class="container">
  <div class="image_studio">
    <div class="">
      {{studio.name}}
    </div>
    <div class="container" id="inga">
      <a href="#" data-toggle="modal" data-target="">
            <img src="{{studio_item.studio_image.url}}" class="img-responsive" alt="{{studio.name}}"></a>
    </div>
    {%for tag in studio.tags.all%}
    <p id="pic">{{tag.name}} </p>
    {%endfor%}
  </div>
</header>
{% endblock %} -->
<div class="container">

  <div class="col-md-2">
    <h3>Rehearsal Srudios</h3>
    <p>In this kind of studio they make you believe that music brings body and mind together. In this kind of studio they offer music instrumentals and also give some kind of training though they have an artist come with his rhymes and lyrics.It estimates
      that a rehearsal studio is expected to charge a maximum of $150 per hour.</p>
  </div>
  <div class="col-md-2">
    <h3>Project Studios</h3>
    <p>A project studio may be in a stand alone facility (like a warehouse) but more often than not is located in a home. Normally the "owner" of the studio is also the head engineer.Project studio is a private studio used to record smaller scale projects
      (often things like singer/songwriter or local independant bands.Ceratainly a project studio can be a one room combined studio/control room - but this can compromise the ability to record more than one or two people at the same time. I've often felt
      that the main difference between a project studio and a home hobby/demo studio is the client base.</p>

  </div>
  <div class="col-md-2">
    <h3>Mid Level Studios</h3>

  </div>
</div>