{% extends 'base.html' %} {% load bootstrap3 %} {% load static %} {% block scripts %}

<!-- <div class="col-md-6">
  <h3>Most featured studios</h3>
  <p>Get see the studios ranked most and the best studios in town for you artists who are really interested.</p>
</div> -->

<link rel="stylesheet" href="{% static 'css/index.css' %}"> {{block.super}} {%endblock%} {%block content%}
<header class="text-center text-white d-flex" class="container">
  <div class="image_studio">
    <div class="">
      <a href="{% url 'search_results' %}"></a>
    </div>
    <div class="container" id="inga">
      <a href="{% url 'studio' studio.id %}">{{studio.name}}
            <img src="{{studio.studio_image.url}}" class="img-responsive" alt="{{studio.name}}"></a>{{studio.description}}<br> {{studio.location}}
      <br> {{studio.price}}<br> {{studio.phone}}
    </div>

  </div>


</header>

<!-- <body>
  <div class="table">

    <table style="width:100%">
      <caption>Studio Category</caption>
      <tr>
        <th>Studio Type</th>
        <th>Estimated Charges per hour</th>
      </tr>
      <tr>
        <td>Rehearsal Studio</td>
        <td>$1000</td>
      </tr>
      <tr>
        <td>Project Studio</td>
        <td>$1600</td>
      </tr>
      <tr>
        <td>Mid Level Studio</td>
        <td>$1080</td>
      </tr>
      <tr>
        <td>Top Line</td>
        <td>$1000</td>
      </tr>
      <tr>
        <td>Podcast Studio</td>
        <td>$1500</td>
      </tr>
    </table>

</body>
</div> -->
<br>
<div class="col-md-4">
  <div id="map">
  </div>
  {% endblock %}